body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  /* height: 700vh; */
  position: relative;
  font-family: 'Montserrat', arial, sans-serif;


}
 
 
.text-black {
  color: #ffffff !important; }


a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

    h1,h2,h3,h4,h5{
      color: #ffffff;
    }

  p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400px;
  }

  hr{
    background-color: #fff;
  }


/*   ---- TABLE OF CONTENT ----- */





/* Apply Styles after Scroll */
.scrolling-active{
  background-color: black;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active{
  height: 5.3rem;
}

.scrolling-active .site-navigation .site-menu a{
  color: black;
}

.scrolling-active .site-navigation .site-menu a::after{
  background-color: black;
}

.scrolling-active .logo{
  /* background-image: url(../images/logo.png); */
  
}






.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}


#header{
  background-color: rgba(0, 0, 0, 0.828);
  height: 5.3rem;
}




.cinzel{
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #ffffff;
}


.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem; 
  position: fixed;
}


/* .site-navbar.scrolled {
  background-color: rgb(170, 170, 170) !important;
  transition: background-color 200ms linear;
} */


  .site-navbar .toggle-button {
    position: absolute;
    right: 0px;
    top: 25px;
  }

    /* Logo Styles */

    .logo img{
      max-width: 250px;
    }

    @media (max-width:425px){
      .logo img{
        margin-top: 5px;
        max-width: 250px;
      }
    }

  /* .site-navbar .site-logo {
    margin: 0;
    padding: 0;
    font-size: 1.7rem; }

    .site-navbar .site-logo a {
      color: #ffffff;
      text-transform: uppercase;
     } */

      @media (max-width: 991.98px) {
      .site-navbar .site-logo {
      float: left;
      position: relative; } }

      .site-navbar .site-navigation.border-bottom {
      border-bottom: 1px solid white !important; }

      .site-navbar .site-navigation .site-menu {
      margin: 0;
      padding: 0;
      margin-bottom: 0; }

      .site-navbar .site-navigation .site-menu .active {
      color: #89ba16 !important; }

      .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }

      .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }

        /* NAVIGATION STYLES */

      .site-navbar .site-navigation .site-menu > li > a {
      color: white;
      display: inline-block;
      text-decoration: none !important;
      text-transform: uppercase;
      font-weight: 400;
      font-family: 'Rajdhani', sans-serif;
      font-size: 18px;
       transition: 1s;
      }

      .site-navbar .site-navigation .site-menu > li > a:hover {
      /* background: linear-gradient( 180deg, rgba(203,146,48,1) 0%, rgba(154,108,31,1) 50%, rgba(124,84,17,1) 100%);
      color: #ffffff;
      border-radius: 25px;
      font-weight: 500; */

      }

      .site-navbar .site-navigation .site-menu > li.active > a {
        background: linear-gradient( 180deg, rgba(203,146,48,1) 0%, rgba(154,108,31,1) 50%, rgba(124,84,17,1) 100%);
        color: #ffffff;
        border-radius: 25px;
        font-weight: 500;

      }

      .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }

      .site-navbar .site-navigation .site-menu .has-children > a {
      position: relative;
      padding-right: 20px; }

      .site-navbar .site-navigation .site-menu .has-children > a:before {
      position: absolute;
      content: "\e313";
      font-size: 16px;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-family: 'icomoon'; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown {
      visibility: hidden;
      opacity: 0;
      top: 100%;
      position: absolute;
      text-align: left;
      border-top: 2px solid #89ba16;
      -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
      padding: 0px 0;
      margin-top: 20px;
      margin-left: 0px;
      background: rgb(0, 0, 0);
      -webkit-transition: 0.2s 0s;
      -o-transition: 0.2s 0s;
      transition: 0.2s 0s; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
      position: absolute; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
      display: none;
      bottom: 100%;
      left: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown a {
      text-transform: none;
      letter-spacing: normal;
      -webkit-transition: 0s all;
      -o-transition: 0s all;
      transition: 0s all;
      color: #000 !important; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
      color: #ffffff !important;
      background: #f8f9fa; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
      list-style: none;
      padding: 0;
      margin: 0;
      min-width: 200px; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
      padding: 9px 20px;
      display: block; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
      background: #f8f9fa;
      color: #ced4da; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
      content: "\e315";
      right: 20px; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
      left: 100%;
      top: 0; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
      background: #f8f9fa;
      color: #ced4da; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
      color: #89ba16; }
      
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
      cursor: pointer; }

      .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
      margin-top: 0px;
      visibility: visible;
      opacity: 1; }


      /* MOBILE VIEW STYLING */
      .site-mobile-menu {
      width: 300px;
      position: fixed;
      right: 0;
      z-index: 2000;
      padding-top: 20px;
      background: black;
      height: calc(100vh);
      -webkit-transform: translateX(110%);
      -ms-transform: translateX(110%);
      transform: translateX(110%);
      -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
      box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }

      .offcanvas-menu .site-mobile-menu {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }

      .site-mobile-menu .site-mobile-menu-header {
      width: 100%;
      float: left;
      padding-left: 20px;
      padding-right: 20px; }

      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }

      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
      font-size: 30px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 0px;
      line-height: 1;
      cursor: pointer;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }

      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
      color: #ffffff; }

      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }

      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
      display: inline-block;
      text-transform: uppercase; }

      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
      max-width: 70px; }

      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
      text-decoration: none; }

      .site-mobile-menu .site-mobile-menu-body {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      position: relative;
      padding: 0 20px 20px 20px;
      height: calc(100vh - 52px);
      padding-bottom: 150px; }
      
      .site-mobile-menu .site-nav-wrap {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative; }
      
      .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #ffffff;
      text-transform: uppercase;
      font-family: 'Rajdhani', sans-serif;
        
    }
      

      .site-mobile-menu .site-nav-wrap a:hover {
      color: rgb(182, 127, 0); }

      .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      

      .site-mobile-menu .site-nav-wrap li .nav-link.active {
        background: linear-gradient( 180deg, rgba(203,146,48,1) 0%, rgba(154,108,31,1) 50%, rgba(124,84,17,1) 100%);
        color: #ffffff;
        border-radius: 25px;
      }

      .site-mobile-menu .site-nav-wrap li.active > a {
        background: linear-gradient( 180deg, rgba(203,146,48,1) 0%, rgba(154,108,31,1) 50%, rgba(124,84,17,1) 100%);
        color: #ffffff;
        border-radius: 25px;
      }

      .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }

      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
      background: #f8f9fa; }

      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
      font-size: 12px;
      z-index: 20;
      font-family: "icomoon";
      content: "\f078";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
      transform: translate(-50%, -50%) rotate(-180deg);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
      padding-left: 20px;
      font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .site-mobile-menu .site-nav-wrap > li > ul > li {
      display: block; }
      .site-mobile-menu .site-nav-wrap > li > ul > li > a {
      padding-left: 40px;
      font-size: 16px; }
      .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
      padding: 0;
      margin: 0; }
      .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
      display: block; }
      .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
      font-size: 16px;
      padding-left: 60px; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
      width: auto; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
      padding-left: 15px !important; }

      .sticky-wrapper {
      position: relative;
      z-index: 100;
      width: 100%;
      position: relative;
      top: 0; }
      .sticky-wrapper .site-navbar {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .sticky-wrapper .site-navbar {
      background: #fff; }
      .sticky-wrapper .site-navbar ul li a {
      color: rgba(0, 0, 0, 0.7) !important; }
      .sticky-wrapper .site-navbar ul li a.active {
      color: #000 !important; }
      .sticky-wrapper.is-sticky .site-navbar {
      background: #fff;
      -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
      box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2); }
      .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #89ba16; }
      .sticky-wrapper.is-sticky .site-navbar ul li a {
      color: #000 !important; }
      .sticky-wrapper.is-sticky .site-navbar ul li a.active {
      color: #89ba16 !important; }

      .sticky-wrapper .shrink {
      padding-top: 0px !important;
      padding-bottom: 0px !important; }

      @media (max-width: 991.98px) {
      .sticky-wrapper .shrink {
      padding-top: 30px !important;
      padding-bottom: 30px !important; } }


      /* --- 
      BODY
      ----------------*/

      .welcome-ad p{
        font-size: 17px;
      }




         /* ---  ABOUT SECTION ----------------*/
      .intro-head{
        background: linear-gradient( 180deg, rgba(203,146,48,1) 0%, rgba(154,108,31,1) 50%, rgba(124,84,17,1) 100%);
      }
      
      .intro-head h2{
          font-size: 40px;
          color: #ffffff;
          font-weight: 500;
          text-transform: uppercase;
      }

      .intro-head h3{
        font-size: 30px;
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
    }


      /* --------Service CSS ----------- */
    .service {
      position: relative;
      width: 100%;
      padding: 45px 0 15px 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.842)), url(../images/hero_3.jpg);
      background-position: center;
      background-attachment: fixed;

    }

    .service p{
      font-size: 16px;
    }

   

    .service .service-item {
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      padding: 50px 30px;
      text-align: center;
      border: 2px solid rgba(154,108,31,1);
      border-radius: 15px;
      transition: .3s;
      color: #ffffff;
    }

    .service .service-item:hover {
      border-color: #ffffff;
      box-shadow: 0 0 30px rgba(154,108,31,1);
    }

    .service .service-item img {
      max-height: 50px;
      margin-bottom: 20px;
    }

    .service .service-item h3 {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: cinzel, sans-serif;
    }

    .service .service-item p {
      font-size: 16px;
      color: #ffffff;
      margin: 0 0 15px 0;
      font-weight: 300;
      text-align: center;
    }

    .btn-warning{
      background: linear-gradient( 180deg, rgba(203,146,48,1) 0%, rgba(154,108,31,1) 50%, rgba(124,84,17,1) 100%) !important;
      border: none;
      color: #ffffff;
      border-radius: 25px !important;
      transition: 1s;
    }

    
    .btn-warning:hover{
      background: #ffffff !important;
      border: none!important;
      color: rgb(126, 84, 12) !important;
      border-radius: 25px !important;
    }


    .satisfy::before {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: rgba(255, 255, 255, 0.2);
      margin: 4px 10px;
    }

    .satisfy::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: rgba(255, 255, 255, 0.2);
      margin: 4px 10px;
    }




     /* --- COMPANY BACKGROUND --- */

     .comp-background p{
       font-size: 16px; 
     }
    



    /* --- TESTIMONIALS --- */

    .sky{
      background: linear-gradient(0deg, rgba(47, 47, 47, 0.62), rgba(47, 47, 47, 0.62)), url(../images/hero_2.png);
      background-position: center;
      background-size: cover;
      padding: 80px 0px;
      background-attachment: fixed;
    }

    .sky h2::before {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: rgba(255, 255, 255, 0.2);
      margin: 4px 10px;
    }

    .sky h2::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: rgba(255, 255, 255, 0.2);
      margin: 4px 10px;
    }

    /* --- QUALITIES --- */

    .qualities{
      margin-top: 5px;

    }

    .qualities p{
      font-size: 16px;
      
    }

      /* --- COMPANY BACKGROUND --- */

      .c_background #heading::after{
        content: "";
        width: 150px;
        height: 2px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.2);
        margin: 2px 10px;
      }

      .c_background p{
        font-size: 16px;
      
      }

      .leader{
        font-weight: 700;
      }


      /* MAILING LIST */

       .footer-newsletter form {
        margin-top: 30px;
        background: #28251f;
        padding: 6px 10px;
        position: relative;
        border-radius: 50px;
        border: 1px solid #454035;
      }
      
       .footer-newsletter form input[type="email"] {
        border: 0;
        padding: 4px;
        width: calc(100% - 110px);
        background: #28251f;
        color: white;
      }
      
       .footer-newsletter form input[type="submit"] {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px 2px 20px;
        background: linear-gradient( 180deg, rgba(203,146,48,1) 0%, rgba(154,108,31,1) 50%, rgba(124,84,17,1) 100%);
        color: #fff;
        transition: 0.3s;
        border-radius: 50px;
      }
      
       .footer-newsletter form input[type="submit"]:hover {
        background: rgba(124,84,17,1);
      }
      





      
     

      
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: linear-gradient( 180deg, rgb(22, 20, 16) 0%, rgb(104, 70, 13) 50%, rgb(70, 46, 5) 100%);  
  /* padding: 0 0 30px 0; */
  color: #fff;
  font-family: 'Montserrat', arial, sans-serif;
}

#footer .footer-top {
  background: #000000;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
  color: #007413;
}

#footer .footer-top .footer-info p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ffffff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: linear-gradient( 180deg, rgba(203,146,48,1) 0%, rgba(154,108,31,1) 50%, rgba(124,84,17,1) 100%);  
  color: #151515;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 25px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: rgb(243, 166, 34);
  color: #151515;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-weight: 300;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-top: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgb(230, 230, 230);
  transition: 0.3s;
  display: inline-block;
  line-height: 1.2;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffc451;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 25px;
  border: 1px solid #007413;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: none;
  padding: 4px;
  width: calc(100% - 110px);
}





#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #007413;
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #01d725;
}

#footer .copyright {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}













        /*  ___________________________  MEDIA QUERIES   ________________________________  */

    @media (max-width: 425px){
      .logo img{
        width: 200px;
  
      }

      h1{ font-size: 22px;}  h2{ font-size: 20px; } h3{font-size: 18px; }  h4{font-size: 18px; } 

      p{
        font-size: 13px;
        color: #fff;
      }

      .welcome-ad p{
        font-size: 13px;
      }

      .comp-background p{
        font-size: 13px; 
      }

      .c_background p{
        font-size: 13px; 
      }

      .qualities p{
        font-size: 13px; 
      }

      .lead{
        font-size: 13px;
        color: #ffffff;
      }


      /* ---  SERVICES SECTION  ------------- */

      

    .service .service-item {
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      padding: 12px 30px;
      text-align: center;
      border: 2px solid rgba(154,108,31,1);
      border-radius: 15px;
      transition: .3s;
      color: #ffffff;
    }

    .service .service-item:hover {
      border-color: #ffffff;
      box-shadow: 0 0 30px rgba(154,108,31,1);
    }

    .service .service-item img {
      max-height: 30px;
      margin-bottom: 10px;
    }

    .service .service-item h3 {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: cinzel, sans-serif;
    }

    .service .service-item p {
      font-size: 10px;
      color: #ffffff;
      margin: 0 0 15px 0;
      font-weight: 300;
      text-align: center;
    }

    .service p{
      font-size: 13px;
    }

    .service .service-item a{
      font-size: 10px;
    }

    .btn-warning{
      background: linear-gradient( 180deg, rgba(203,146,48,1) 0%, rgba(154,108,31,1) 50%, rgba(124,84,17,1) 100%) !important;
      border: none;
      color: #ffffff;
      border-radius: 25px !important;
      transition: 1s;
      font-size: 12px;
    }

    
    .btn-warning:hover{
      background: #ffffff !important;
      border: none!important;
      color: rgb(126, 84, 12) !important;
      border-radius: 25px !important;
    }

      








      .satisfy::before {
        content: "";
        width: 50px;
        height: 1px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.2);
        margin: 4px 10px;
      }
  
      .satisfy::after {
        content: "";
        width: 50px;
        height: 1px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.2);
        margin: 4px 10px;
      }

      .sky h2::before {
        content: "";
        width: 50px;
        height: 1px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.2);
        margin: 4px 10px;
      }
  
      .sky h2::after {
        content: "";
        width: 50px;
        height: 1px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.2);
        margin: 4px 10px;
      }

      .intro-head h2{
        font-size: 25px;
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
    }

    .intro-head h3{
      font-size: 24px;
      color: #ffffff;
      font-weight: 500;
      text-transform: uppercase;
  }

  .pj_kev{
    width: 90%;
  }


  #footer .footer-top .footer-links ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
  }





    } 





    /*  ___________________________  MEDIA QUERIES   ________________________________  */
        
    @media (max-width: 375px){

      .service .service-item {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        padding: 12px 18px;
        text-align: center;
        border: 2px solid rgba(154,108,31,1);
        border-radius: 15px;
        transition: .3s;
        color: #ffffff;
      }


      .service .service-item img {
        max-height: 26px;
        margin-bottom: 10px;
      }
  
      .service .service-item h3 {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: cinzel, sans-serif;
      }
  
      .service .service-item p {
        font-size: 10px;
        color: #ffffff;
        margin: 0 0 15px 0;
        font-weight: 300;
        text-align: center;
      }
  
      .service p{
        font-size: 13px;
      }
  
      .service .service-item a{
        font-size: 9px;
      }






    }




    /* CLOSING MEDIA QUERIES */